<h2>Enter your word</h2>
<form method="post" action="/">
  <div class="form-group">
    <label for="your_word">Your Word</label>
    <input type="text" name="your_word" class="form-control">
  </div>
  <button type="submit" class="btn btn-primary">Add</button>
</form>
