<div class="container jumbotron">
    <h1>Add a word!</h1>
</div>
<br>
<form method="post" action="/">
  <div class="form-group">
    <label for="your_word">Your Word</label>
    <input type="text" name="your_word" class="form-control">
  </div>
  <button type="submit" class="btn btn-primary">Add</button>
</form>
<br>
<% if @list_of_words.length > 0 %>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title"><%= "Edit word below" %></h3>
    </div>
    <div class="panel-body">
      <% @list_of_words.each do |single_word|%>
        <p><a href="/output/<%= single_word.id %>"><%= single_word.my_word() %></a></p>
      <% end %>
    </div>
  </div>
<% end %>
