<h1>Enter your word below</h1>
<br>
<form method="post" action="/">
  <div class="form-group">
    <label for="your_word">Your Word</label>
    <input type="text" name="your_word" class="form-control">
  </div>
  <button type="submit" class="btn btn-primary">Add</button>
</form>
<br>
<% if @list_of_words.length > 0 %>
 <h3><%= "Click words below to see and edit" %></h3>
<% end %>
<% @list_of_words.each do |single_word|%>
  <p><%= single_word.my_word  %></p>
<% end %>
