<!-- <div class="jumbotron"> -->
  <% @list_of_words.each do |word| %>
    <% if word == @word_object %>
      <h3><%= word.my_word %></h3>
    <% end %>
  <% end %>
<!-- </div> -->



<h3>Add a definition</h3>
