<h3 class="well">Add a definition for: <%= @page_word %></h3>
<form class="" action="/output/<% @id_number %>" method="post">
  <div class="form-group">
    <label for="your_def">Your Definition</label>
    <input type="text" name="your_def" class="form-control">
  </div>
  <button type="submit" class="btn btn-success">Add</button>
</form>
